/* Container 4444 */
.container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 850px;
    background: rgb(127, 189, 222);
    border-radius: 0px;
}

.text {
    position: absolute;
    top: 64px;
    left: 125px;
    font-family: Poppins;
    font-size: 36px;
    line-height: 36px;
    color: #171A1FFF;
}

.text-login {
    position: absolute;
    top: 64px;
    left: 220px;
    font-family: Poppins;
    font-size: 36px;
    line-height: 36px;
    color: #171A1FFF;
}

/* Container 4445 */
.container-signup {
    position: absolute;
    top: 141px;
    left: 35%;
    width: 512px;
    height: 650px;
    background: #FFFFFFFF;
    border-radius: 12px;
    box-shadow: 0px 4px 9px #171a1f, 0px 0px 2px #171a1f;
}

.container-login {
    position: absolute;
    top: 141px;
    left: 35%;
    width: 520px;
    height: 500px;
    background: #FFFFFFFF;
    border-radius: 12px;
    box-shadow: 0px 4px 9px #171a1f, 0px 0px 2px #171a1f;
}
/* Textbox 701 */
.textbox-username {
    position: absolute;
    top: 130px;
    left: 64px;
    opacity: 1;
}

.textbox-username input {
    width: 384px;
    height: 44px;
    padding-left: 18px;
    padding-right: 18px;
    font-family: Nunito Sans;
    font-size: 16px;
    background: #F3F4F6FF;
    border-radius: 22px;
    border-width: 0px;
    outline: none;
}

.textbox-username .label {
    font-size: 16px;
    line-height: 26px;
}

/* hover */
.textbox-username input:hover {
    color: #BCC1CAFF;
    background: #F3F4F6FF;
}

/* focused */
.textbox-username input:focused {
    color: #BCC1CAFF;
    background: #FFFFFFFF;
}

/* disabled */
.textbox-username input:disabled {
    color: #BCC1CAFF;
    background: #F3F4F6FF;
}

.textbox-username :disabled+.icon,
.textbox-email :disabled+.icon+.icon {
    fill: #171A1FFF;
}

/* Textbox 700 */
.textbox-email {
    position: absolute;
    top: 226px;
    left: 64px;
    opacity: 1;
}

.textbox-email input {
    width: 384px;
    height: 44px;
    padding-left: 18px;
    padding-right: 18px;
    font-family: Nunito Sans;
    font-size: 16px;
    background: #F3F4F6FF;
    border-radius: 22px;
    border-width: 0px;
    outline: none;
}

.textbox-email .label {
    font-size: 16px;
    line-height: 26px;
}

/* hover */
.textbox-email input:hover {
    color: #BCC1CAFF;
    background: #F3F4F6FF;
}

/* focused */
.textbox-email input:focused {
    color: #BCC1CAFF;
    background: #FFFFFFFF;
}

/* disabled */
.textbox-email input:disabled {
    color: #BCC1CAFF;
    background: #F3F4F6FF;
}

.textbox-email :disabled+.icon,
.textbox-email :disabled+.icon+.icon {
    fill: #171A1FFF;
}

/* Textbox 699 */
.textbox-password {
    position: absolute;
    top: 322px;
    left: 64px;
    opacity: 1;
}

.textbox-password input {
    width: 384px;
    height: 44px;
    padding-left: 18px;
    padding-right: 18px;
    font-family: Nunito Sans;
    font-size: 16px;
    background: #F3F4F6FF;
    border-radius: 22px;
    border-width: 0px;
    outline: none;
}

.textbox-password svg {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 20px;
    height: 20px;
    fill: #171A1FFF;
}

.textbox-password .label {
    font-size: 16px;
    line-height: 26px;
}

/* hover */
.textbox-password input:hover {
    color: #BCC1CAFF;
    background: #F3F4F6FF;
}

/* focused */
.textbox-password input:focused {
    color: #BCC1CAFF;
    background: #FFFFFFFF;
}

/* disabled */
.textbox-password input:disabled {
    color: #BCC1CAFF;
    background: #F3F4F6FF;
}

.textbox-password :disabled+.icon,
.textbox-password :disabled+.icon+.icon {
    fill: #171A1FFF;
}


/* Button 1949 */
.button {
    position: absolute;
    top: 440px;
    left: 85px;
    width: 384px;
    height: 52px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Nunito Sans;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFFFF;
    background: #EB7623FF;
    opacity: 1;
    border: none;
    border-radius: 26px;
    box-shadow: 0px 8px 17px #EB7623, 0px 0px 2px #EB7623;
}

/* Hover */
.button:hover {
    color: #FFFFFFFF;
    background: #C45C12FF;
}

/* Pressed */
.button:hover:active {
    color: #FFFFFFFF;
    background: #AA5010FF;
}

/* Disabled */
.button:disabled {
    opacity: 0.4;
}

.error {
    font-size: 12px;
    line-height: 26px;
    color: red;
    margin-left: 10px;
}

.textbox-password-login {
    position: absolute;
    top: 226px;
    left: 64px;
    opacity: 1;
}

.textbox-password-login input {
    width: 384px;
    height: 44px;
    padding-left: 18px;
    padding-right: 18px;
    font-family: Nunito Sans;
    font-size: 16px;
    background: #F3F4F6FF;
    border-radius: 22px;
    border-width: 0px;
    outline: none;
}

.textbox-password-login svg {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 20px;
    height: 20px;
    fill: #171A1FFF;
}

.textbox-password-login .label {
    font-size: 16px;
    line-height: 26px;
}

/* hover */
.textbox-password-login input:hover {
    color: #BCC1CAFF;
    background: #F3F4F6FF;
}

/* focused */
.textbox-password-login input:focused {
    color: #BCC1CAFF;
    background: #FFFFFFFF;
}

/* disabled */
.textbox-password-login input:disabled {
    color: #BCC1CAFF;
    background: #F3F4F6FF;
}

.textbox-password-login :disabled+.icon,
.textbox-password-login :disabled+.icon+.icon {
    fill: #171A1FFF;
}

.button-login {
    position: absolute;
    top: 330px;
    left: 125px;
    width: 300px;
    height: 52px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Nunito Sans;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFFFF;
    background: #EB7623FF;
    opacity: 1;
    border: none;
    border-radius: 26px;
    box-shadow: 0px 8px 17px #EB7623, 0px 0px 2px #EB7623;
}

/* Hover */
.button-login:hover {
    color: #FFFFFFFF;
    background: #C45C12FF;
}

/* Pressed */
.button-login:hover:active {
    color: #FFFFFFFF;
    background: #AA5010FF;
}

/* Disabled */
.button-login:disabled {
    opacity: 0.4;
}

.error {
    font-size: 12px;
    line-height: 26px;
    color: red;
    margin-top: 0px;
    margin-left: 20px;
}

.link-login {
    font-size: 14px;
    line-height: 26px;
    margin-top: 420px;
    margin-left: 180px;
}

.link-signup {
    font-size: 14px;
    line-height: 26px;
    margin-top: 510px;
    margin-left: 180px;
}
.loading {
    font-size: 14px;
    line-height: 26px;
    margin-left: 230px;
}